.fg {
    display: flex;
    align-items: center;
    align-self: center;
    min-width: max-content;
}

.label {
    min-width: 6rem;
    margin-bottom: 0rem;
}

.options {
    width: max-content;
}

.jd-area {
    height: 14rem;
}