<div class="wrapper-wh">
    <h3 class="heading-tag">
        HM - Jobs you have created
    </h3>
    <div>
        <div>
            <button type="button" class="btn btn-sm col-btn btn-primary" [routerLink]="['/hm/jobsForm']">
              Create New Job
            </button>
            <button [disabled]="!selectedJob" class="btn btn-sm col-btn btn-secondary" (click)="openUpdateJobModal()">
              Update Job
            </button>
            <button [disabled]="!selectedJob" class="btn btn-sm col-btn btn-secondary" [routerLink]="['/hm/referrals', selectedJob?.jobId]">
                Check Referrals
            </button>
        </div>
        <div>
            <app-rp-datagrid [isDataLoading]="isLoading" [columnsToDisplay]="displayedColumns" [allRows]="data" (clicked)="onClicked($event)" (refreshed)="onRefreshed(data)"></app-rp-datagrid>
        </div>
    </div>
    <clr-modal [(clrModalOpen)]="isJobModalOpen" *ngIf="openJob">
        <h3 class="modal-title">{{ openJob.jobTitle }} - # {{ openJob.jobId }}</h3>
        <div class="modal-body">

            <form clrForm [formGroup]="updateJobForm" clrLayout="horizontal">
                <div class="fg-textarea">
                    <clr-textarea-container>
                        <label>Job Description</label>
                        <textarea clrTextarea formControlName="jobDescription" name="description" required></textarea>
                    </clr-textarea-container>
                </div>

                <div>
                    <clr-toggle-container>
                        <label>Visibility</label>
                        <clr-toggle-wrapper>
                            <input type="checkbox" formControlName="jobVisibility" clrToggle name="jobVisibility" />
                            <label></label>
                        </clr-toggle-wrapper>
                    </clr-toggle-container>
                </div>

                <div>
                    <clr-select-container>
                        <label>Job Status</label>
                        <select formControlName="jobStatus" clrSelect name="jobStatus" required>
                          <option [selected]="openJob.jobStatus == _JobStatus.OPEN">OPEN</option>
                          <option [selected]="openJob.jobStatus == _JobStatus.ONHOLD">ONHOLD</option>
                          <option [selected]="openJob.jobStatus == _JobStatus.CLOSED">CLOSED</option>
                        </select>
                    </clr-select-container>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="isJobModalOpen = false">Cancel</button>
            <button [disabled]="isLoadingUpdate" type="button" class="btn btn-primary" (click)="update()">Update</button>
        </div>
    </clr-modal>
</div>
