<nav class="navbar navbar-expand-lg navbar-dark revert-background-color">
    <a *ngIf="!valid()" class="navbar-brand" routerLink="/dashboard">Referral Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul *ngIf="valid()" class="navbar-nav">
            <!-- <a routerLink="register" routerLinkActive="" [routerActiveOption]="{exact: true}" routerActive="active">Sign Up</a> -->
            <!-- <a routerLink="/hm/jobs" routerLinkActive="active">Jobs</a> -->
            <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/refer">Refer a friend</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/status">Status</a>
            </li>
            <li *ngIf="employeeRole === userRoleConstants.HM" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="hmDropDownTabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hiring Manager Section 
                </a>
                <div class="dropdown-menu" aria-labelledby="hmDropDownTabs">
                    <a class="dropdown-item" routerLink="/hm/referrals" routerLinkActive="active">See Referrals</a>
                    <a class="dropdown-item" routerLink="/hm/jobs" routerLinkActive="active">Jobs Status</a>
                    <a class="dropdown-item" routerLink="/hm/referralsStatus" routerLinkActive="active">Referrals Status</a>
                </div>
            </li>

            <li *ngIf="employeeRole === userRoleConstants.HR" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="hrDropDownTabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        HR Section 
                    </a>
                <div class="dropdown-menu" aria-labelledby="hrDropDownTabs">
                    <a class="dropdown-item" href="#">Referrals at HR Round</a>
                    <a class="dropdown-item" href="#">Referrals Status</a>
                </div>
            </li>
        </ul>
    </div>
    <ul *ngIf="valid()" class="navbar-nav navbar-right">
        <li>
            <button (click)="logout()" class="btn btn-outline-warning my-2 my-sm-0">Log Out</button>
        </li>
    </ul>
</nav>