<clr-header class="header-6">
  <div *ngIf="valid()" class="branding">
    <a class="nav-link">
      <clr-icon shape="employee"></clr-icon>Referral Portal
    </a>
  </div>

  <div *ngIf="!valid()" class="branding">
    <a>Referral Portal</a>
  </div>
  <div *ngIf="valid()" class="header-nav" [clr-nav-level]="1">
    <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Home</a>

    <a *ngIf="employeeRole != userRoleConstants.ADMIN" class="nav-link" routerLink="/refer"
      routerLinkActive="active">Refer a friend</a>
    <a *ngIf="employeeRole != userRoleConstants.ADMIN" class="nav-link" routerLink="/status"
      routerLinkActive="active">Status</a>

    <a *ngIf="employeeRole === userRoleConstants.HM" class="nav-link" routerLink="/hm/jobs"
      routerLinkActive="active">Jobs Status</a>

    <a *ngIf="employeeRole === userRoleConstants.HR" class="nav-link" routerLink="/hr/referrals"
      routerLinkActive="active">Referrals at HR Round</a>
    <a *ngIf="employeeRole === userRoleConstants.HR" class="nav-link" routerLink="/hr/allReferrals"
      routerLinkActive="active">All Referrals</a>

    <a *ngIf="employeeRole === userRoleConstants.ADMIN" class="nav-link" routerLink="/admin"
      routerLinkActive="active">Update Users</a>
  </div>
  <div class="header-actions">
    <a routerLink="/login" *ngIf="valid()" class="nav-link nav-icon" (click)="logout()" aria-label="logout">
      <clr-icon shape="logout"></clr-icon>
    </a>
  </div>
</clr-header>
