<header class="header-6">
    <div class="branding">
        <span class="title">Referral Portal</span>
    </div>
    <div *ngIf="valid()" class="header-nav">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Home</a>

        <a *ngIf="employeeRole != userRoleConstants.ADMIN" class="nav-link" routerLink="/refer">Refer a friend</a>
        <a *ngIf="employeeRole != userRoleConstants.ADMIN" class="nav-link" routerLink="/status">Status</a>

        <a *ngIf="employeeRole === userRoleConstants.HM" class="nav-link" routerLink="/hm/jobs" routerLinkActive="active">Jobs Status</a>

        <a *ngIf="employeeRole === userRoleConstants.HR" class="nav-link" routerLink="/hr/referrals" routerLinkActive="active">Referrals at HR Round</a>
        <a *ngIf="employeeRole === userRoleConstants.HR" class="nav-link" routerLink="/hr/allReferrals" routerLinkActive="active">All Referrals</a>

        <a *ngIf="employeeRole === userRoleConstants.ADMIN" class="nav-link" routerLink="/admin" routerLinkActive="active">Update Users</a>
    </div>
    <div class="header-actions">
        <button *ngIf="valid()" (click)="logout()" class="btn btn-outline-warning">Log Out</button>
    </div>
</header>