<div class="wrapper-wh pl-8">
    <div class="btn-group btn-sm btn-primary btn-icon">
        <button routerLink="/refer" class="btn">
          <clr-icon shape="angle-double" style="transform: rotate(270deg);"></clr-icon>
          Go back To All Open Jobs
        </button>
        <button disabled class="btn">
          <clr-icon shape="form"></clr-icon>
          Refer-Form
        </button>
    </div>

    <div *ngIf="isLoading" class="loader-align">
        <span class="spinner spinner-md"></span>
    </div>

    <div *ngIf="!isLoading && job == null" class="alert alert-danger" role="alert">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <span class="alert-text">
                Invalid JobId
              </span>
            </div>
        </div>
    </div>

    <div class="" *ngIf="job != null && !isLoading">
        <h3>
            Applying for Position: {{ job.jobTitle }} - #{{ jobId }}
        </h3>
        <p>{{job.jobDescription}}</p>
        <hr width="100%">
        <h5 class="heading-tag">Fill Up the Referral's Details : </h5>
        <div class="col-md-8">
            <form [formGroup]="referForm" clrForm (ngSubmit)="submit()" clrLayout="horizontal">
                <clr-input-container>
                    <label>Email ID</label>
                    <input clrInput formControlName="referralEmailId" type="email" name="referralEmailId" required />
                    <clr-control-helper>Email ID of referral</clr-control-helper>
                    <clr-control-error>This is required Field.</clr-control-error>
                </clr-input-container>
                <clr-input-container>
                    <label>Referral Name</label>
                    <input clrInput formControlName="referralName" type="text" name="referralName" required />
                    <clr-control-helper>Referral full name</clr-control-helper>
                    <clr-control-error>This is required Field.</clr-control-error>
                </clr-input-container>

                <clr-input-container>
                    <label>Job ID</label>
                    <input disabled clrInput formControlName="jobId" type="text" name="jobId" required />
                    <clr-control-helper>Job ID</clr-control-helper>
                </clr-input-container>
                <clr-input-container>
                    <label>PAN ID</label>
                    <input clrInput formControlName="panNumber" type="text" name="panNumber" required />
                    <clr-control-helper>10 digit PAN ID</clr-control-helper>
                    <clr-control-error>This is required Field.</clr-control-error>
                </clr-input-container>

                <clr-date-container>
                    <label>DOB</label>
                    <input min="1966-01-01" formControlName="dob" type="date" name="dob" clrDate>
                </clr-date-container>

                <clr-input-container>
                    <label>Experience(years)</label>
                    <input clrInput formControlName="yoe" value="0" min="0" max="2" type="number" name="yoe" required />
                    <clr-control-helper>Experience in years</clr-control-helper>
                    <clr-control-error>This is required Field.</clr-control-error>
                </clr-input-container>

                <clr-input-container>
                    <label>Primary Skill</label>
                    <input clrInput formControlName="primarySkill" type="text" name="primarySkill" required />
                    <clr-control-helper>Enter Primary Skill of referral</clr-control-helper>
                    <clr-control-error>This is required Field.</clr-control-error>
                </clr-input-container>

                <clr-input-container>
                    <label>Secondary Skill</label>
                    <input clrInput formControlName="secondarySkill" type="text" name="secondarySkill" />
                    <clr-control-helper>Enter Secondary Skill of referral</clr-control-helper>
                    <clr-control-error>This is required Field.</clr-control-error>
                </clr-input-container>

                <div class="file-fg">
                    <clr-input-container class="file-upload">
                        <label>Resume</label>
                    </clr-input-container>
                    <label class="btn btn-link">
                      <input type="file"
                             (change)="onFileChange($event)"
                             placeholder="Upload file"
                             accept="*">
                  </label>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <div *ngIf="isLoadingSubmit">
                            <app-loader></app-loader>
                        </div>
                        <button *ngIf="!isLoadingSubmit" type="button" class="btn btn-primary" [disabled]="!referForm.valid || !resumeAdded" (click)="submit()">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
