<div class="wrapper-wh pl-8">
    <div class="btn-group btn-sm btn-primary btn-icon">
        <button routerLink="/refer" class="btn">
          <clr-icon shape="angle-double" style="transform: rotate(270deg);"></clr-icon>
       Go back To All Open Jobs
    </button>
        <button disabled class="btn">
          <clr-icon shape="form"></clr-icon>
        Refer-Form
    </button>
    </div>

    <div *ngIf="isLoading" class="loader-align">
        <span class="spinner spinner-md"></span>
    </div>

    <div *ngIf="!isLoading && job == null" class="alert alert-danger" role="alert">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <span class="alert-text">
                Invalid JobId
              </span>
            </div>
        </div>
    </div>

    <div class="flex-container" *ngIf="job != null && !isLoading">
        <!-- <h2 class="flex-title">Applying for Position: {{ job.jobTitle }} - #{{ jobId }}</h2> -->
        <h3 class="heading-tag">
            Applying for Position: {{ job.jobTitle }} - #{{ jobId }}
        </h3>
        <p>{{job.jobDescription}}</p>
        <hr width="100%">
        <h5 class="heading-tag">Fill Up the Referral's Details : </h5>
        <div class="col-md-8">
            <form [formGroup]="referForm" (ngSubmit)="submit()">
                <div class="form-group row">
                    <label for="referralEmailId" class="col-sm-2 col-form-label">Email ID</label>
                    <div class="control col-sm-10">
                        <input formControlName="referralEmailId" name="referralEmailId" type="email" class="form-control" id="referralEmailId" placeholder="Email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="referralName" class="col-sm-2 col-form-label">Referral Name</label>
                    <div class="control col-sm-10">
                        <input formControlName="referralName" name="referralName" type="text" class="form-control" id="referralName" placeholder="Referral Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="jobId" class="col-sm-2 col-form-label">Job ID</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control" id="jobId" value="{{jobId}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="panNumber" class="col-sm-2 col-form-label">Pan Number</label>
                    <div class="control col-sm-10">
                        <input formControlName="panNumber" name="panNumber" type="text" class="form-control" id="panNumber" placeholder="Pan Number">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="dob" class="col-sm-2 col-form-label">DOB</label>
                    <div class="control col-sm-10">
                        <input formControlName="dob" name="dob" type="date" class="form-control" id="dob" placeholder="DOB">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="yoe" class="col-sm-2 col-form-label">Experience(years)</label>
                    <div class="control col-sm-10">
                        <input formControlName="yoe" name="yoe" type="text" class="form-control" id="yoe" placeholder="Experience (in Years)">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="primarySkill" class="col-sm-2 col-form-label">Primary Skill</label>
                    <div class="control col-sm-10">
                        <input formControlName="primarySkill" name="primarySkill" type="text" class="form-control" id="primarySkill" placeholder="Primary Skill">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="secondarySkill" class="col-sm-2 col-form-label">Secondary Skill</label>
                    <div class="control col-sm-10">
                        <input formControlName="secondarySkill" name="secondarySkill" type="text" class="form-control" id="secondarySkill" placeholder="Secondary Skill">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="resume" class="col-sm-2 col-form-label">Resume</label>
                    <div class="control col-sm-10">
                        <input (change)="onFileChange($event)" type="file" value="resume" id="resume" class="form-control-file" id="resume">
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <div *ngIf="isLoadingSubmit">
                            <app-loader></app-loader>
                        </div>
                        <button *ngIf="!isLoadingSubmit" type="button" class="btn btn-primary" [disabled]="!referForm.valid && !resumeAdded" (click)="submit()">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
