// .flex-container {
//     display: flex;
//     margin-right: 8%;
//     flex-direction: column;
// }
.wrapper-wh {
    height: 86%;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 1rem;
}

.clr-form-control {
    margin-top: 0.5rem !important;
}

.button-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-upload {
    width: 14rem;
}

.file-fg {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
}
