<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Sign In</h3>
                <div class="d-flex justify-content-end social_icon">
                    <!-- <span><i class="fab fa-facebook-square"></i></span>
                    <span><i class="fab fa-google-plus-square"></i></span>
                    <span><i class="fab fa-twitter-square"></i></span> -->
                </div>
            </div>
            <div class="card-body">
                <form>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input [(ngModel)]="username" name="username" type="text" class="form-control" placeholder="E-mail Id">

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input [(ngModel)]="password" name="password" type="password" class="form-control" placeholder="Password">
                    </div>
                    <!-- <div class="row align-items-center remember">
                        <input type="checkbox">Remember Me
                    </div> -->
                    <div class="form-group">
                        <input (click)="login()" type="submit" value="Login" class="btn float-center login_btn">
                    </div>
                </form>
            </div>
            <!-- <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Don't have an account?<a href="#">Sign Up</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="#">Forgot your password?</a>
                </div>
            </div> -->
        </div>
    </div>
</div>