<div class="container wh-100">
  <div>
    <div class="card">
      <div class="card-header">
        <h3>Sign In</h3>
      </div>

      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="login()">

          <clr-input-container class="fg">
            <label>User Id</label>
            <input clrInput formControlName="employeeId" type="text" name="employeeId" required />
            <clr-control-helper>User Id</clr-control-helper>
            <clr-control-error>This is required Field.</clr-control-error>
          </clr-input-container>

          <clr-input-container class="fg">
            <label>Password</label>
            <input clrInput formControlName="password" type="password" name="password" required />
            <clr-control-helper>Password</clr-control-helper>
            <clr-control-error>This is required Field.</clr-control-error>
          </clr-input-container>

          <div class="register-btn">
            <div *ngIf="loader">
              <span class="spinner spinner-md"></span>
            </div>
            <button *ngIf="!loader" type="button" class="btn btn-primary" [disabled]="!loginForm.valid"
              (click)="login()">Login</button>
          </div>

        </form>
      </div>
      <div class="card-footer">
        <div>
          Don't have an account?
          <button (click)="register()" class="btn register_btn">Register</button>
        </div>
      </div>
    </div>
  </div>
</div>
