.card {
    padding: 1rem;
}

.card-body {
    padding: 0.5rem;
}

.wh-100 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mt-2 {
    margin-top: 2rem;
}

label {
    min-width: 4rem
}

.form-group {
    display: flex;
}