table {
    width: 80%;
}

.mat-form-field {
    font-size: 14px;
    width: 25%;
    margin-left: 65%;
}

.table-responsive {
    display: inline-table;
}

// td,
// th {
//     width: 25%;
// }
.rp-center {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: -webkit-center;
}

.centered {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2rem;
}

.col-btn {
    width: max-content;
}

.link {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.loadingCursor {
    cursor: wait;
}