table {
    width: 80%;
}

.mat-form-field {
    font-size: 14px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

td,
th {
    width: 25%;
}

.rp-center {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: -webkit-center;
}