.flex-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
}

// .flex-nav {
//     flex: 2;
// }
// .flex-body {
//     flex: 7;
// }
.flex-footer {
    // flex: 1;
    align-self: baseline;
    margin-top: 40px;
}

#content {
    width: 80%;
    margin: 0 auto;
    padding: 60px 0;
}