<div class="wrapper-wh">
    <h3 class="heading-tag">
        Admin - All Employees In System
    </h3>
    <div>
        <div>
            <button [disabled]="!selectedEmployee" class="btn btn-sm col-btn btn-secondary" (click)="openUpdateEmployeeModal()">
            Update Role
          </button>
        </div>
        <div>
            <app-rp-datagrid [isDataLoading]="isLoading" [columnsToDisplay]="displayedColumns" [allRows]="data" (clicked)="onClicked($event)" (refreshed)="onRefreshed(data)"></app-rp-datagrid>
        </div>
    </div>


    <clr-modal [(clrModalOpen)]="isEmployeeModalOpen" *ngIf="selectedEmployee">
        <h3 class="modal-title">{{ selectedEmployee.employeeId }} - Role {{ selectedEmployee.employeeRole }}</h3>
        <div class="modal-body">
            <form clrForm [formGroup]="updateEmployeeForm" clrLayout="horizontal">
                <div>
                    <clr-select-container>
                        <label>New Role:</label>
                        <select formControlName="employeeRole" clrSelect name="employeeRole" required>
                        <option *ngFor="let userRole of userRoles" [ngValue]="userRole">
                          {{ userRole }}
                        </option>
                      </select>
                    </clr-select-container>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="isEmployeeModalOpen = false">Cancel</button>
            <button [disabled]="isLoadingUpdate || !updateEmployeeForm.valid" type="button" class="btn btn-primary" (click)="updateEmployee()">Update</button>
        </div>
    </clr-modal>
</div>
