.clr-form-control {
    margin-top: 0.5rem !important;
}

.fg-textarea {
    display: flex;
    flex-direction: column;
}

.clr-textarea {
    min-width: 16rem !important;
    min-height: 5rem !important;
}

.spinner {
    margin-left: 2rem;
}
