<!-- <div class="flex align-self-center flex-row align-items-center justify-content-around border">
    <div class="item border justify-content-center d-flex flex-column align-items-center">
        <div class="item">
            <img src="https://www.bootdey.com/img/Content/avatar/avatar7.png" alt="Profile" width="250" height="250">
        </div>
        <div class="item">
            <p> {{ employee.employeeRole }}</p>
        </div>
        <div class="item"> {{ employee.employeeId }}</div>
    </div>
    <div class="item">
        <img class="item " width="100px" height="100px">
    </div>
</div> -->

<div class="container">
    <div class="box-1">
        <div class="item">
            <img src="https://www.bootdey.com/img/Content/avatar/avatar7.png" alt="Profile" width="250" height="250">
        </div>
        <div class="item">
            <p> {{ employee.employeeRole }}</p>
        </div>
        <div class="item"> {{ employee.employeeId }}</div>
    </div>
    <div class="box-2">
        <div class="row">
            <button type="button" class="btn btn-primary btn-lg large-size">Referrals  56</button>
            <button type="button" class="btn btn-warning btn-lg large-size">Open Jobs 24</button>
            <!-- <div style="background-color: orange; width: 200px; height: 150px; border-radius: 16px; margin: 8px">REFERRALS : COUNT</div>
            <div style="background-color: orangered; width: 200px; height: 150px;border-radius: 16px;margin: 8px">JOBS: COUNT</div> -->
            <!-- <div style="background-color: orangered; width: 200px; height: 150px;border-radius: 16px;margin: 8px"></div> -->
            <!-- <img style="background-color: yellow;" class="item" width="150px" height="150px">
            <img src="https://www.bootdey.com/img/Content/avatar/avatar7.png" class="item" width="100px" height="100px">
            <img src="https://www.bootdey.com/img/Content/avatar/avatar7.png" class="item" width="100px" height="100px"> -->
        </div>
    </div>
</div>