.container-row {
    display: flex;
    /* or inline-flex */
    flex-direction: row;
    justify-content: center;
}

.container-col {
    display: flex;
    /* or inline-flex */
    flex-direction: col;
    justify-content: center
}