<div class="container">
    <div class="box-1">
        <div class="item">
            <img src="https://www.bootdey.com/img/Content/avatar/avatar7.png" alt="Profile" width="250" height="250">
        </div>
        <div class="item">
            <p> {{ employee.employeeRole }}</p>
        </div>
        <div class="item"> {{ employee.employeeId }}</div>
    </div>
    <div class="box-2">
        <div class="card  bg-warning text-white item-2">
            <h4>Your Referrals</h4>
            <h5>19</h5>
        </div>
        <div class="card bg-info text-white item-2">
            <h4>Open Jobs</h4>
            <h5>10</h5>
        </div>
        <div class="card bg-success text-white item-2">
            <h4>Successful Referrals</h4>
            <h5>20</h5>
        </div>
    </div>
</div>