<h4>Refer a Friend</h4>
<div class="flex-container">
    <div *ngIf="openJobs.length < 0">
        No Data Available
    </div>
    <div *ngFor="let job of openJobs" class="card flex-card custom-background-color">
        <div class="card-body flex-body text-black">
            <h5 class="card-title flex-card-title">{{ job.jobTitle }} - #{{ job.jobId }}</h5>
            <p class="card-text flex-card-text">{{ job.jobDescription }}</p>
            <a [routerLink]="['/referForm', job.jobId]" class="btn btn-primary flex-card-button">See Details and Refer</a>
        </div>
    </div>
</div>