<div class="wrapper-wh">
    <h3 class="heading-tag">Refer a Friend</h3>
    <div class="cards-container">
        <div *ngIf="isLoading" class="display-center">
            <span class="spinner spinner-md">
          </span>
        </div>
        <div *ngIf="openJobs.length <= 0 && !isLoading" class="alert alert-info" role="alert">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
                    </div>
                    <span class="alert-text">
                       No Jobs To Refer
                    </span>
                </div>
            </div>
        </div>
        <div *ngFor="let job of openJobs" class="card">
            <div class="card-block">
                <h3 class="card-title">{{ job.jobTitle }}, Job Id - #{{ job.jobId }}</h3>
                <p class="card-text">
                    {{ job.jobDescription }}
                </p>
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-primary" [routerLink]="['/referForm', job.jobId]">
                See Details and Refer
            </button>
            </div>
        </div>
    </div>
</div>
