<h3 class="heading-tag">Refer a Friend</h3>
<div class="flex-container">
    <div *ngIf="isLoading">
        <app-loader></app-loader>
    </div>
    <div class="card flex-card custom-background-color" *ngIf="openJobs.length <= 0 && !isLoading">
        <div class="card-body flex-body text-black">
            <h6>No Data Available!</h6>
        </div>
    </div>
    <div *ngFor="let job of openJobs" class="card flex-card custom-background-color">
        <div class="card-body flex-body text-black">
            <h5 class="card-title flex-card-title">{{ job.jobTitle }} - #{{ job.jobId }}</h5>
            <p class="card-text flex-card-text">{{ job.jobDescription }}</p>
            <a [routerLink]="['/referForm', job.jobId]" class="btn btn-primary flex-card-button">See Details and Refer</a>
        </div>
    </div>
</div>