<div class="wrapper-wh">
    <h3 class="heading-tag">
        Referrals at HR Round
    </h3>
    <div>
        <div>
            <button [disabled]="!selectedReferral" class="btn btn-sm btn-warning" (click)="openUpdateStatusModal()">
            Hire / Reject
            </button>
            <button [disabled]="!selectedReferral" class="btn btn-sm btn-secondary" (click)="openDetailsModal()">
            See Details
            </button>
        </div>
        <div>
            <app-rp-datagrid [isDataLoading]="isLoading" [columnsToDisplay]="displayedColumns" [allRows]="data" (clicked)="onClicked($event)" (refreshed)="onRefreshed(data)"></app-rp-datagrid>
        </div>
    </div>
</div>
<ng-container *ngIf="isDetailsModalOpen">
    <app-see-referral-details [isModalOpen]="isDetailsModalOpen" [detailsData]="selectedReferral" (closeModal)="closeDetailsModal(data)"></app-see-referral-details>
</ng-container>
<ng-container *ngIf="isUpdateModalOpen">
    <app-update-referral-status [isModalOpen]="isUpdateModalOpen" [updateData]="selectedReferral" [isHrRound]="true" (closeModal)="closeUpdateModal(data)"></app-update-referral-status>
</ng-container>
