.card {
  padding: 1rem;
}

.card-body {
  padding: 0.5rem;
}

.wh-100 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clr-form-control {
  margin-top: 0.5rem !important;
}

// .mt-2 {
//   margin-top: 2rem;
// }

label {
  min-width: 7rem;
}

.fg {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.register-btn {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
// .form-group {
//   display: flex;
// }
